In [26]:
########################################
# importing packages
########################################
import pandas            as pd                          # data science essentials
import matplotlib.pyplot as plt                         # fundamental data visualization
import seaborn           as sns                         # enhanced visualizations
from sklearn.preprocessing import StandardScaler        # standard scaler
from sklearn.decomposition import PCA                   # pca
from scipy.cluster.hierarchy import dendrogram, linkage # dendrograms
from sklearn.cluster         import KMeans              # k-means clustering

In [27]:
########################################
# loading data and setting display options
########################################
# loading data
my_df = pd.read_excel('Survey_Data_Final_Exam.xlsx')


# setting print options
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', 100)

In [28]:
# Changing the names of columns

#Change the column names 
my_df.columns = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', 
              '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', 
              '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', 
              '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', 
              '41', '42', '43', '44', '45', '46', '47', '48', '49', '50',
              'DNA_1', 'DNA_2', 'DNA_3', 'DNA_4', 'DNA_5', 'DNA_6', 'DNA_7',
              'DNA_8', 'DNA_9', 'DNA_10', 'DNA_11', 'DNA_12', 'DNA_13', 
              'DNA_14', 'DNA_15', 'DNA_16', 'DNA_17', 'DNA_18', 'DNA_19', 
              'DNA_20', 'DNA_21',
              'Current laptop',
              'Next laptop',
              'Program',
              'Age',
              'Gender',
              'Nationality', 
              'Ethnicity']

In [29]:
########################################
# Standardize the columns for negative question 
########################################
# DNA_2 to DNA_2n

placeholder_lst = []

for value in my_df['DNA_2']:
    
    if value == 1:
        DNA_2n = 5
    
    elif value == 2:
        DNA_2n = 4
    
    elif value == 3:
        DNA_2n = 3
        
    elif value == 4:
        DNA_2n = 2
    
    elif value == 5:
        DNA_2n = 1
        
    placeholder_lst.append(DNA_2n)
    
my_df['DNA_2n'] = placeholder_lst

# DNA_12 to DNA_12_n

placeholder_lst = []

for value in my_df['DNA_12']:
    
    if value == 1:
        DNA_12n = 5
    
    elif value == 2:
        DNA_12n = 4
    
    elif value == 3:
        DNA_12n = 3
        
    elif value == 4:
        DNA_12n = 2
    
    elif value == 5:
        DNA_12n = 1
        
    placeholder_lst.append(DNA_12n)
    
my_df['DNA_12n'] = placeholder_lst

# DNA_16 to DNA_16n

placeholder_lst = []

for value in my_df['DNA_16']:
    
    if value == 1:
        DNA_16n = 5
    
    elif value == 2:
        DNA_16n = 4
    
    elif value == 3:
        DNA_16n = 3
        
    elif value == 4:
        DNA_16n = 2
    
    elif value == 5:
        DNA_16n = 1
        
    placeholder_lst.append(DNA_16n)
    
my_df['DNA_16n'] = placeholder_lst

In [30]:
# Drop the columns
my_df = my_df.drop('DNA_2', axis = 1)
my_df = my_df.drop('DNA_12', axis = 1)
my_df = my_df.drop('DNA_16', axis = 1)

In [35]:
########################################
# Group1
########################################

# Self_awareneww, ['DNA_3']

#placeholder_lst = []
#for value in my_df['DNA_3']:
#    if value >4 :
#        placeholder_lst.append(1) 
#    else:
#         placeholder_lst.append(0)
    
my_df['Self_awareness'] = my_df['DNA_3']

# saving new columns
new_columns = my_df.columns

########################################
# Group2
########################################
########################################
# Embrace_cahnge ['DNA_19']
   
my_df['Embrace_change'] = my_df['DNA_19']

# saving new columns
new_columns = my_df.columns

########################################
# Group3
########################################
########################################
# Dynamic_thinking ['DNA_5']=['DNA_8']
my_df['Dynamic_thinking'] = my_df[['DNA_5','DNA_8']].mean(axis=1)

# saving new columns
new_columns = my_df.columns

########################################
# Group4
########################################
########################################
# Skillful_speaking ['DNA_11']   
my_df['Skillful_speaking'] = my_df['DNA_11']

# saving new columns
new_columns = my_df.columns

########################################
# Group5
########################################
########################################
# Influence ['DNA_6']=['DNA_9']
my_df['Influence'] = my_df[['DNA_6','DNA_9']].mean(axis=1)

# saving new columns
new_columns = my_df.columns

########################################
# Group6
########################################
########################################
# Present_ideas ['DNA_2n'], ['DNA_12n'], ['DNA_17']
my_df['Present_ideas'] = my_df[['DNA_2n','DNA_12n', 'DNA_17']].mean(axis=1)

# saving new columns
new_columns = my_df.columns

########################################
# Group7
########################################
########################################
# Collaborative ['DNA_13'], ['DNA_14'], ['DNA_16n']
my_df['Collaborative'] = my_df[['DNA_13','DNA_14', 'DNA_16n']].mean(axis=1)

# saving new columns
new_columns = my_df.columns

########################################
# Group8
########################################
########################################
# Inspire_productivity ['DNA_19'], ['DNA_20'], ['DNA_21'],['DNA_7']=['DNA_10']
my_df['Inspire_productivity'] = my_df[['DNA_19','DNA_20', 'DNA_21','DNA_7','DNA_10']].mean(axis=1)

# saving new columns
new_columns = my_df.columns

########################################
# Group9
########################################
########################################
# Resolve_conflict ['DNA_1'], ['DNA_5'], ['DNA_18']
my_df['Resolve_conflict'] = my_df[['DNA_1','DNA_5', 'DNA_18']].mean(axis=1)

# saving new columns
new_columns = my_df.columns

In [36]:
my_df.head()

       0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  DNA_1  DNA_3  DNA_4  DNA_5  DNA_6  DNA_7  DNA_8  DNA_9  DNA_10  DNA_11  DNA_13  DNA_14  DNA_15  DNA_17  DNA_18  DNA_19  DNA_20  DNA_21  Current laptop     Next laptop                           Program  Age  Gender Nationality            Ethnicity  DNA_2n  DNA_12n  DNA_16n  Self_awareness  Embrace_change  Dynamic_thinking  Skillful_speaking  Influence  Present_ideas  Collaborative  Inspire_productivity  Resolve_conflict
0  a1000  4  3  4  3  4  2  3  2  3   2   2   1   5   4   4   4   4   2   2   3   4   3   4   2   3   2   4   2   2   3   3   2   5   4   4   3   3   2   3   3   3   3   4   2   4   3   3   4   2   3      4      4      4      4      4      4      4      4       4       4       4       4       4       4       4       4       4       4         Macbook         Macbook     DD (MIB & Business Analytics)   25  Female     ecuador    Hispanic / Latino       4        3        4               4               4               4.0                  4        4.0       3.666667       4.000000                   4.0          4.000000
1  a1001  2  4  3  4  3  3  2  3  4   2   3   1   4   4   5   3   4   2   4   2   3   5   3   4   4   3   4   2   1   1   2   2   5   4   4   4   4   3   2   2   2   3   5   4   5   4   5   5   3   4      4      2      4      4      4      5      5      5       5       5       4       4       2       4       5       5       4       5  Windows laptop  Windows laptop       One year Business Analytics   27    Male     Ecuador    Hispanic / Latino       4        4        3               2               5               4.5                  5        4.5       4.000000       3.666667                   4.8          4.333333
2  a1002  4  4  5  1  4  3  2  2  5   1   3   3   5   1   2   3   2   1   5   4   3   4   4   3   3   2   3   2   2   2   4   3   1   2   5   4   3   2   1   2   5   3   4   4   2   3   3   3   1   4      3      5      3      5      2      3      5      2       3       3       3       4       4       4       2       3       3       5  Windows laptop  Windows laptop       One year Business Analytics   25    Male      Indian  West Asian / Indian       4        4        4               5               3               5.0                  3        2.0       4.000000       3.666667                   3.4          3.333333
3  a1003  4  5  3  3  3  3  5  3  5   4   3   1   4   4   5   5   5   3   3   3   4   2   3   1   5   4   5   2   2   1   3   3   3   4   3   3   4   3   4   3   2   5   3   5   5   3   5   3   3   5      3      3      5      5      5      4      4      4       4       5       5       5       5       3       5       5       5       5  Windows laptop  Windows laptop       One year Business Analytics   26  Female      indian  West Asian / Indian       3        3        1               3               5               4.5                  5        4.5       3.000000       3.666667                   4.6          4.333333
4  a1004  5  4  4  4  3  3  3  3  3   3   3   3   3   4   5   4   4   4   4   4   3   3   3   3   3   3   3   3   3   3   3   3   3   3   4   4   3   3   4   4   4   4   4   3   3   3   3   4   4   3      3      5      3      3      3      3      3      3       4       4       3       3       4       3       3       3       3       3         Macbook  Windows laptop  DD (MBA & Disruptive innovation)   27    Male       China       Far east Asian       3        2        2               5               3               3.0                  4        3.0       2.666667       2.666667                   3.2          3.000000